$ cat .gitignore

# File Types
*~
*.acn
*.acr
*.alg
*.asv
*.autosave
*.aux
*.bak
*.bat
*.bbl
*.blg
*.c
*.DS_Store
*.dvi
*.exp
*.fig
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lib
*.lof
*.log
*.lot
*.maf
*.mak
*.map
*.mex
*.mex64
*.mex*
*.mol
*.mtc
*.mtc0
*.mtc1
*.mtc3
*.o
*.obj
*.sublime-workspace
*.sublime-project
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.tws
*.vtp
*.zip

# MATLAB
**/output/
**/output_previous/
**/slprj/
*build_exception*

# Tutorials
/tutorials/BEMIO/**/*.h5
/tutorials/verificationCases/**/**/*.mat
!/tutorials/verificationCases/RegularWaves/regular/regular_org.mat
!/tutorials/verificationCases/RegularWaves/regularCIC/regularCIC_org.mat
!/tutorials/verificationCases/RegularWaves/regularSS/regularSS_org.mat
!/tutorials/verificationCases/IrregularWaves/irregularSS/irregularSS_org.mat
!/tutorials/verificationCases/IrregularWaves/irregularCIC/irregularCIC_org.mat

# moorDyn
source/functions/moorDyn/*
!source/functions/moorDyn/README.md

# Other
.DS_Store
view_html.sh
*vis-temp*
