language: python
jobs:
  include:
  - stage: pages
    install:
    - pip install click colorama colorclass future "sphinx==1.8.5" "sphinxcontrib-bibtex==0.4.2"
      sphinx_rtd_theme sphinxcontrib-matlabdomain
    - pip install --no-deps sphinxext-remoteliteralinclude
    - pip install https://github.com/H0R5E/sphinxcontrib-versioning/archive/v1.8.5_support.zip
    script:
    - eval "$(ssh-agent -s)"; touch .travis/key; chmod 0600 .travis/key
    - openssl aes-256-cbc -d -K $encrypted_498cfbdbee76_key -iv $encrypted_498cfbdbee76_iv
      < .travis/key.enc > .travis/key && ssh-add .travis/key
    - git config --global user.email "builds@travis-ci.com"
    - git config --global user.name "Travis CI"
    - git remote set-url --push origin "git@github.com:$TRAVIS_REPO_SLUG"
    - sphinx-versioning push -b -e .nojekyll -e README.md docs gh-pages .
    if: branch = new_docs_structure AND type = push

