name: Run MATLAB tests on master branch
on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  test_latest:
    name: MATLAB Latest 
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
        with:
          lfs: true
      - name: Checkout LFS objects
        run: git lfs checkout
      - name: Install MATLAB
        uses: matlab-actions/setup-matlab@v1
      - name: Install WEC-Sim
        uses: matlab-actions/run-command@v1
        with:
          command: addpath(genpath('source'));, savepath pathdef.m;
      - name: Run tests and generate artifacts
        uses: matlab-actions/run-command@v1
        with:
          command: results = wecSimTest, assertSuccess(results);
  test_r2020a:
    name: MATLAB R2020a
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
        with:
          lfs: true
      - name: Checkout LFS objects
        run: git lfs checkout
      - name: Install MATLAB
        uses: matlab-actions/setup-matlab@v1
        with:
            release: R2020a
      - name: Install WEC-Sim
        uses: matlab-actions/run-command@v1
        with:
          command: addpath(genpath('source'));, savepath pathdef.m;
      - name: Run tests and generate artifacts
        uses: matlab-actions/run-command@v1
        with:
          command: results = wecSimTest, assertSuccess(results);
